##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[Unit]
Description=OpenBSD Secure Shell server socket
Before=ssh.service
Conflicts=ssh.service
ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Socket]
ListenStream={{ install_ssh__port }}
Accept=yes
[Install]
WantedBy=sockets.target